/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* FUNDO */
body {
    background: linear-gradient(180deg, #f5f6fb, #dfe3f7);
    color: #333;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
}

header img {
    width: 60px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    background: linear-gradient(90deg, #7b4fff, #2bb3ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: auto;
    margin-left: 20px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: #444;
    font-weight: 500;
}

/* HERO (parte principal) */
body > div {
    display: flex;
    flex-direction: row; /* 👈 coloca lado a lado */
    align-items: center;
    justify-content: center;
    gap: 40px; /* espaço entre texto e imagem */
    padding: 40px 60px;
}

.text {
    display: flex;
    flex-direction: column; /* 👈 empilha */
    gap: 10px;
    max-width: 500px;
}

body > div h1 {
    font-size: 42px;
    color: #6c4cff;
    margin-bottom: 15px;
}

body > div p {
    max-width: 500px;
    font-size: 16px;
    margin-bottom: 20px;
}

/* BOTÃO */
#btn-coleta button {
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(90deg, #4f9bff, #8a4dff);
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

#btn-coleta button:hover {
    opacity: 0.8;
}

/* IMAGEM HERO */
body > div img {
    width: 400px;
}

/* CARDS */
.Serviços {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 40px 60px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 15px;
    width: 300px;
    text-align: left;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 50px;
    margin-bottom: 15px;
}

.card h2 {
    color: #6c4cff;
    margin-bottom: 10px;
}

.card p {
    font-size: 14px;
    margin-bottom: 15px;
}

/* BOTÃO DOS CARDS */
.card a {
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 20px;
    background: linear-gradient(90deg, #4f9bff, #8a4dff);
    color: white;
    font-size: 14px;
}
.card a:hover{
    opacity: 0.8;
}

/* FOOTER */
footer {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px;
}

footer a {
    text-decoration: none;
    color: #555;
}